fastapi
uvicorn
python-dotenv
python-multipart
pdfplumber
pydantic
langchain
langchain-groq
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langgraph
chromadb
slowapi
python-docx
pymongo
motor
bcrypt
PyJWT
email-validator

